VITE_SUPABASE_URL=https://kngqtplideqcsaculhek.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuZ3F0cGxpZGVxY3NhY3VsaGVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1NjIzNzksImV4cCI6MjA3MjEzODM3OX0.s3ehVrUbzRDeM7Nl1agIjd0b27YI-JPbyIs2bRUxSVk